<!DOCTYPE html>
<html>
  <head>
    <title>Philnewsfeed</title>
    <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
  </head>
  <body>
    <header>
      <h1>
        <a href='/'>Philnewsfeed</a>
      </h1>
      <h3>A service to aggregate all your favorite philosophy news</h3>
      <h3> 
        <a href='/rank'>Top News</a>
      </h3>
    </header>
    <main>
      {% if page_num > total %}
        <h2> results for: weekly philosophy news({{page_prev_num}} - {{total}})</h2>
      {% else %}    
        <h2> results for: weekly philosophy news({{page_prev_num}} - {{page_num}})</h2>
      {% endif %}
      {% for row in rows %}
      <div>
        <h4>
          <a href='{{row[1]}}'>{{row[2]}}</a></h4>
          <h5>{{row[0]}} | {{row[4]}} | {{row[3]}}</h5>
      </div>
      <hr>
      {% endfor %}
    </main>
    {% if page == 1 %}
      <b>[Prev]</b>
      <b>{{page}}</b>
      <a href="{{url_for('home', page=page+1)}}">[Next]</a>
    {% else %}
      {% if page < last_page_num %}
        <a href="{{url_for('home', page=page-1)}}">[Prev]</a>
        <b>{{page}}</b>
        <a href="{{url_for('home', page=page+1)}}">[Next]</a>
      {% endif %}
    {% endif %}
    {% if page == last_page_num %}
      <a href="{{url_for('home', page=page-1)}}">[Prev]</a>
      <b>{{page}}</b>
      <b>[Next]</b>
    {% endif %}
  </body>
</html> 